main {
  margin: 2rem;
}
h1 {
}

article {
  margin: 1rem;
  background-color: burlywood;
  border: 2px solid brown;
  border-radius: 10px;
  max-width: 300px;
}

h2 {
  margin: 1rem;
}

h3 {
  margin: 1rem 1rem 0.5rem 2rem;
}

main {
  display: grid;
  grid-template-columns: repeat (auto-fill, minmax(300px, fr));
}
