header {
  grid-column: 1 / span 2;
}
h1 {
  font-size: 2rem;
}

article {
  margin: 1rem;
  background-color: burlywood;
  border: 2px solid brown;
  border-radius: 10px;
}

h2 {
  margin: 1rem;
}

h3 {
  margin: 1rem 1rem 0.5rem 2rem;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
